# Data Science Tools and Ecosystem

In [1]:
print("In this notebook, Data Science Tools and Ecosystem are summarized.")

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the commonly used libraries used by Data Scientists include:
- a
- b
- c

| Data Science Tools |
| ---- |
| R Studio | 
| Phyton |
| Github |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

In [5]:
# List popular languages for Data Science
**Objectives:**
* python
* C
* json

SyntaxError: invalid syntax (3087071497.py, line 2)

# List popular languages for Data Science
**Objectives:**
* python
* C
* json

## Author Nabila Khairunnisa Ansory